#ref {
  background-color: #adb5bd;
  border: #adb5bd;
  border-radius: 5px 0 0 5px;
  font-size: 0.8em;
}
#inputRef {
  background-color: #dee2e6;
  border: #dee2e6;
  /* border-radius: 0 15px 15px 0; */
}
#validation {
  border: none;
  background-color: #dee2e6;
}
